# MongoDB - Usuarios
MONGO_USUARIOS_CONNECTION=mongodb://admin:password123@mongo-usuarios:27017
MONGO_USUARIOS_DATABASE=usuarios_db

# MongoDB - Pedidos
MONGO_PEDIDOS_CONNECTION=mongodb://admin:password123@mongo-pedidos:27017
MONGO_PEDIDOS_DATABASE=pedidos_db

# MongoDB - Pagos
MONGO_PAGOS_CONNECTION=mongodb://admin:password123@mongo-pagos:27017
MONGO_PAGOS_DATABASE=pagos_db

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production

# Frontend
ANGULAR_ENVIRONMENT=production
